# ===============================
# C / C++ Build
# ===============================
*.o
*.out
*.exe
*.a
*.so

# ===============================
# Build Directories
# ===============================
build/
cmake-build-*/
bin/

# ===============================
# Qt
# ===============================
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.pro.user

# ===============================
# Editors
# ===============================
.vscode/
.idea/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
